
body {
  width: 80%;
/*   margin: 0 auto; */
  /*font-family: Arial;*/
/*   color: #d96459; */
  background-color: #a68572;

  /*background-position: center;*/
  /*background-size: cover;*/
  /*background-attachment: fixed;*/
  font-family:'Cuprum', sans-serif;
  line-height: 1.4em;
  margin: 10px;}

.wrapper {
  width: 720px;
  margin: 0px auto;}

.content {
  overflow: auto;}
header {
  height: 160px;
  width: 100%;
  margin: 10px 20px 10px 100px;
  display: block;
/* flex-direction: row;  */
  background-color: #588c73;
  border: 20px solid #37590B;
  justify-content: center;
  /*background-image: url("https://github.com/lwenke01/campfire-coffee/blob/master/img/campfire.jpg?raw=true");
  background-size:cover;*/


}
header h1 {
  position: relative;
  text-align: center;
/*   width: 100px; */
  /*background: transparent url(campfire.jpg) no-repeat top left;*/
  font-size: 3.5em;
  font-family: 'Sigmar One', cursive;
  color: #992E13;
  z-index: 1;}

header h2 {
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: #992E13;
  z-index: 1;
  font-family: 'Pacifico',cursive;}


nav.footer {
  clear: both;
  color: black;
  background-color: inherit;}
nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;}
nav li {
  display: inline;
  margin-right: 40px;}

nav li a {
  color: #A63214;}

nav li a:hover, nav li a.current {
  color: #A63214;}


}
.nav1 {
  text-align: center;
  margin: 10px 20px 30px 0px;
 }

/* .aboutSection, .history, .sustain {

  background-color: #A63214;
  border: 5px solid #A63214;
  margin: 10px 10px 10px 40px;
   width: 70%;
  display: block;
  text-align: center;} */
.content {
 display: inline-flex;
 justify-content: center;

}
 a.camp1,.aboutSection {

  background-color: #A63214;
  border: 5px solid #A63214;
  margin: 10px 0px 10px 10px;
  height:400px;
  width: 300px;
  display: flex;
  text-align: center;
  flex-direction: column;
   padding: 50px;
/*    background-image: url("https://github.com/lwenke01/campfire-coffee/blob/master/img/campfire.jpg?raw=true"); */
  background-size:cover;
/*    opacity: 0.5; */

 }
.history {
   background-color: #A63214;
  border: 5px solid #A63214;
  margin: 10px 0px 0px 10px;
  height:400px;
  width: 300px;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 50px;

}

 .sustain {

  background-color: #A63214;
/*     opacity: 0.5; */
  border: 5px solid #A63214;
  margin: 10px 0px 0px 10px;
  width: 300px;
   height: 400px;
   display: flex;
  text-align: center;
  flex-direction: column;
   padding: 50px;

}
ul > li {
  font-color: #A63214;
  text-align:center;
  display: inline-flex;
  flex-direction: column-reverse;
  justify-content:center;


}

.headLinks {
 font-color: #A63214;
  text-align:center;
  display: inline-flex;
  flex-direction: row;
   margin-center: 20px;
     padding-left: 400px;

}
 .featuredproducts {

  background-color: #A63214;
  border: 5px solid #A63214;
  margin: 10px 0px 20px 20px;
  width: 160px;
   height: 250px;
   display: flex;
  text-align: center;
  flex-direction: column;
   padding: 0px;
}
 .locations {

  background-color: #A63214;
  border: 5px solid #A63214;
  margin: 10px 0px 20px 20px;
  width: 80%;
   height: 200px;
   display: flex-inline;
  text-align: center;
  flex-direction: row;
   padding: 0px;
}
.sustain:hover {
 background-image: url("https://github.com/lwenke01/campfire-coffee/blob/master/img/campfire.jpg?raw=true"); }

/*.logo {
  float: left;
}*/

/*TABLE*/

.datasheet {
  font font-family: Arial;
  color: black;
}
table {
    padding-left:20px;
    border-collapse: collapse;
    background-color: white;
    font-family: Arial;

}

table, th, td {
   border: 1px solid black;
   color: black;

}
th {
  color: white ;
  background-color: black;
  text-align: left;
}

/*.datasheet {
  color: black;
  display: inline-block;
}*/
