
body {
  width: 90%;
  margin: 0 auto;
  color: #d96459;
  background-color: #f2ae72;
  background-image: url("img/campfire.jpg");
  background-position: center;
  font-family: Georgia, "Times New Roman", serif;
  line-height: 1.4em;
  margin: 0px;}
/*.wrapper {
  width: 720px;
  margin: 0px auto;}*/

.content {
  overflow: auto;}
header {
  height: 160px;
  width: 90%;
  margin: 10px 20px 10px 80px;
  background-color: #588c73;
  position: center;
  background-image: url("img/campfire-coffee.jpg")
  ;}
header.align-center{
  display: block;
  margin: 0px auto;
}
.company {
  position: relative;
  text-align: center;
  font-size: 3.5em;
  color: #d96459 ;
  z-index: 1;
  font-family: Arial;}

.slogan {
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: white ;
  z-index: 1;
  font-family: Arial;}

}
nav.footer {
  clear: both;
  color: black;
  background-color: inherit;}
nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;}
nav li {
  display: inline;
  margin-right: 40px;}

nav li a {
  color: black;}

nav li a:hover, nav li a.current {
  color:red;}

.mission {
  float: left;
}
.headLinks {
  text-align: center;
}
.aboutSection {
  border: 5px solid #588c73;
  margin-left: 80px;
  width: 250px;
  text-align: center;
}
.mission {
  border: 5px solid #588c73;
  margin-left: 80px;
  width: 250px;
  text-align: center;
  float: center;
}


aside {
  float: right;
}


/*.logo {
  float: left;
}*/
